./Info_from_AWS_cluster_algo/Capstone/backup_after_10/Cache/Studykeywords.pickle
./Info_from_AWS_cluster_algo/Capstone/backup_after_10/WhooshIndex/MAIN_j13fqjtq7g9yrbvy.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_10/WhooshIndex/MAIN_pkua0srckuaocvoz.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_10/WhooshIndex/MAIN_c4d746ht3mj7d0xx.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_10/WhooshIndex/MAIN_bn9jdeji45kl8a4p.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_10/WhooshIndex/MAIN_ykcc2thb7qlj9l1d.seg
./Info_from_AWS_cluster_algo/Capstone/Cache/Studykeywords.pickle
./Info_from_AWS_cluster_algo/Capstone/backup_after_18/Cache/Studykeywords.pickle
./Info_from_AWS_cluster_algo/Capstone/backup_after_18/WhooshIndex/MAIN_j13fqjtq7g9yrbvy.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_18/WhooshIndex/MAIN_pkua0srckuaocvoz.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_18/WhooshIndex/MAIN_c4d746ht3mj7d0xx.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_18/WhooshIndex/MAIN_bn9jdeji45kl8a4p.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_18/WhooshIndex/MAIN_ykcc2thb7qlj9l1d.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_18/Output/hier_infomap_out_final/comm_plus_kw.pickle
./Info_from_AWS_cluster_algo/Capstone/backup_after_02/Cache/Studykeywords.pickle
./Info_from_AWS_cluster_algo/Capstone/backup_after_02/WhooshIndex/MAIN_bn9jdeji45kl8a4p.seg
./Info_from_AWS_cluster_algo/Capstone/WhooshIndex/MAIN_j13fqjtq7g9yrbvy.seg
./Info_from_AWS_cluster_algo/Capstone/WhooshIndex/MAIN_pkua0srckuaocvoz.seg
./Info_from_AWS_cluster_algo/Capstone/WhooshIndex/MAIN_c4d746ht3mj7d0xx.seg
./Info_from_AWS_cluster_algo/Capstone/WhooshIndex/MAIN_bn9jdeji45kl8a4p.seg
./Info_from_AWS_cluster_algo/Capstone/WhooshIndex/MAIN_ykcc2thb7qlj9l1d.seg
./Info_from_AWS_cluster_algo/Capstone/Output/hier_infomap_out_final/igraphPlusLabel.gml
./Info_from_AWS_cluster_algo/Capstone/Output/hier_infomap_out_final/comm_plus_kw.pickle
./Info_from_AWS_cluster_algo/Capstone/ArticleTexts/Guar_Small.CSV
./Info_from_AWS_cluster_algo/Capstone/ArticleTexts/Guar_Small-out.csv
./Info_from_AWS_cluster_algo/Capstone/backup_after_08/Cache/Studykeywords.pickle
./Info_from_AWS_cluster_algo/Capstone/backup_after_08/WhooshIndex/MAIN_bn9jdeji45kl8a4p.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_download/Cache/Studykeywords.pickle
./Info_from_AWS_cluster_algo/Capstone/backup_after_download/WhooshIndex/MAIN_j13fqjtq7g9yrbvy.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_download/WhooshIndex/MAIN_pkua0srckuaocvoz.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_download/WhooshIndex/MAIN_c4d746ht3mj7d0xx.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_download/WhooshIndex/MAIN_bn9jdeji45kl8a4p.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_download/WhooshIndex/MAIN_ykcc2thb7qlj9l1d.seg
./Info_from_AWS_cluster_algo/Capstone/backup_after_download/Output/hier_infomap_out_final/igraphPlusLabel.gml
./Info_from_AWS_cluster_algo/Capstone/backup_after_download/Output/hier_infomap_out_final/comm_plus_kw.pickle
./Data/Guardian/litte_set_5_to_9.csv
./Data/Guardian/stream-topped_2_to_4_second.csv
./Data/Guardian/Guar_Small.CSV
./Data/Guardian/stream-topped_5_to_9_second.csv
./Data/Guardian/ready_for_bert.csv
./Data/Guardian/Guar_Small_Test1.CSV
./Data/Guardian/stream-topped-1.csv
./Data/Guardian/stream-topped-2.csv
./Data/Guardian/litte_set_2_to_4.csv
./Data/Guardian/Guar_medium_api.CSV
./Data/Guardian/stream-topped_5_to_9_third.csv
./Data/Guardian/stream-topped_2_to_4_first.csv
./Data/Guardian/stream-topped_5_to_9_first.csv
*pyc
